%h3
  Apps

%table
  %thead
    %tr
      %th name
      %th url
      %th template
      %th owners
      %th updated_at
      %th type
  %tfoot
    %tr
      %td ...
  %tbody
    :each app in apps
      %tr
        %td= app.name
        %td= app.url
        %td= app.template
        %td= app.owners
        %td= app.updated_at
        %td= app.type
